* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fill {
	height: 100%;
	width: 100%;
}

.button-p {
	background: linear-gradient(90deg, #ff9d00 0%, #ffc559 100%);
	border-radius: 25px;

	color: white;
	text-align: center;

	border: none;
	outline: none;
}

.button-s {
	background: white;
	border-radius: 25px;

	color: #ffbb00;
	text-decoration: underline;
	text-align: center;

	position: relative;
	border: none;
	outline: none;
}

.button-alt {
	background: linear-gradient(90deg, #2C4E98 0%, #95A5D9 100%);
	border-radius: 25px;

	color: white;
	text-align: center;

	border: none;
	outline: none;
}

.floating-container {
	background-color: #FFFFFF50;
}