.dashboard {
	width: 100%;
	padding: 15px;

	background: #EAF3FA;
	overflow-y: auto;

	display: grid;
	gap: 15px;

	height: 100vh;
}

.card {
	min-height: 100px;
	min-width: 100px;
	border-radius: 20px;
	overflow: hidden;
	background-color: white;
}

.trans-card {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.estadistica-card {
	background-color: blue;

	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
}

@media(max-width: 768px) {
	.dashboard {
		height: 1300px;
	}

	.trans-card {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	
	.estadistica-card {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
	}
}