.inicio {
	display: flex;
	flex-direction: row;
	height: 100%;
	background: #ff2ff4;
}

.campos {
	border-radius: 20px;
	background: #EFEFEF;
	border-width: 0px;
	padding: 14px;
	margin: 11px;
	height: 46px;
	width: 356px;
}

.grid{
	background: #ffffff;
	display: grid;
}

.image{
	width:100%;
	height: auto;
	padding: 60px 38px;
}

.logo{
	width: 124px;
	left: 36px;
	margin-top: 3px;
	margin-left: 36px;
}

.titulo{
font-family: "Arial";
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
color: #F99746;
margin: 20px;
}