.transacciones-container {
	display: flex;
	flex-direction: column;
}

.transacciones-container .titulo-container {
	padding: 15px 0;
	background-color: #6E80B0;
	color: white;
}

.transacciones-container .titulo-container .titulo {
	width: fit-content;
	margin: auto;

	font-size: 22px;
	font-weight: 500;
}

.transacciones-container .titulo-container .codigo {
	width: fit-content;
	margin: auto;

	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.transacciones-container .barra-principal {
	height: 50px;
	background: linear-gradient(90deg, #FFA513 0%, #FFB93F 100%);
	color: white;

	display: flex;
	flex-direction: row;
}

.transacciones-container .barra-principal .ingresos,
.transacciones-container .barra-principal .gastos {
	flex-grow: 5;
}

.transacciones-container .barra-principal .organizador {
	width: fit-content;
	margin: auto;
}

.transacciones-container .barra-principal .organizador .icon {
	display: inline-block;
	margin: auto;
	vertical-align: middle;
	padding-right: 10px;
}

.transacciones-container .barra-principal .organizador .text {
	width: 50px;
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: middle;
}

.transacciones-container .barra-principal .selector-moneda {
	flex-grow: 0;
}

.transacciones-container .barra-principal .selector-moneda .moneda {
	font-size: 26px;
	display: inline-block;
	padding-right: 5px;
}

.transacciones-container .barra-principal .selector-moneda .total-actual {
	display: inline-block;
}

.transacciones-container .barra-principal .selector-moneda .full {
	font-size: 32px;
}

.transacciones-container .barra-principal .selector-moneda .cents {
	font-size: 22px;
	text-decoration: underline;
	line-height: 2px;
	font-weight: 300;
}


.transacciones-container .buscador {

}

.transacciones-container .lista {

}